/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "primeicons/primeicons.css";

@import "./theme/buttons.scss";
@import "./theme/prime-ng-normalize.scss";

html, body {
  // That's to ensure that and let incoming developers knows that
  // default font size is 16px, ie. 1rem = 16px
  font-size: 16px;
}

body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.image {
  img {
    width: 100%;
    height: 100%;
  }
}

.d-flex {
  display: flex;

  &.f-center {
    justify-content: center;
    align-items: center;
  }

  &.f-row {
    flex-direction: row;
  }

  &.f-column {
    flex-direction: column;
  }
}

.m-center {
  margin: auto;
}

.lightLavender-bg {
  background: $lightLavender;
  color: $white;
}

.softYellow-bg {
  background: $softYellow;
}

.thin-font {
  font-weight: 400;
}

input {
  @extend .thin-font;
}

.form-container {
  gap: 15px;

  label {
    font-size: 0.875rem;
  }

  input + small {
    margin-inline-start: 15px;
    text-align: start;
  }

  .error {
    color: $error;
  }
}
